<h1>Uploaded Files</h1>
<ul>
  <% files.forEach(file => { %>
    <li>
      <a href="<%= file.url %>" target="_blank"><%= file.filename %></a>
      <br/>
      <% if (file.mimetype.startsWith('image')) { %>
        <img src="<%= file.url %>" style="max-width: 200px;" />
      <% } %>
    </li>
  <% }) %>
</ul>
<a href="/">Back</a>
