<h1>Upload a file</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" required />
  <button type="submit">Upload</button>
</form>

<% if (uploadedUrl) { %>
  <p>Uploaded File: <a href="<%= uploadedUrl %>" target="_blank"><%= uploadedUrl %></a></p>
  <img src="<%= uploadedUrl %>" style="max-width: 300px;" />
<% } %>

<a href="/files">View all files</a>
