<!-- views/sign-up.ejs -->
<div class="row">
  <div class="col-md-6">
    <form action="/users/sign-up" method="POST">
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required
          value="<%= user ? user.first_name : '' %>">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required
          value="<%= user ? user.last_name : '' %>">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required
          value="<%= user ? user.email : '' %>">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>
      <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>