<% include layout.ejs %>
<h2>New Message</h2>
<form action="/messages/new" method="POST">
  <input name="title" placeholder="Title" required><br>
  <textarea name="content" placeholder="Your message" required></textarea><br>
  <button>Post</button>
</form>
